
/* Estilos específicos para dispositivos móviles */

@media (max-width: 600px) {
  /* Ocultar la navegación en dispositivos móviles */
  body{
    margin: 0;
    padding: 0;
    padding-left: 10px;
    padding-right:10px;
    overflow-x: none;
   
  }
  
  .navegation {
    display: none;
  }
  
  /* Estilos para la información de contacto */
  .contact-info {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .name-info {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
  }

  .name-info i {
    margin-right: 5px;
  }

  .correo {
    font-size: 12px;
    margin-left: 50px;
    font-weight: 400;
    
  }

  /* Estilos para la imagen de contacto */
  .contact-image {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    position: relative;
    top: 35px;
    left: 5px;
    object-fit: cover;
    overflow: hidden;
  }

  /* Estilos para la presentación */
  .presentacion {
    padding-top: 45px;
  }
  .titulo-presentacion{
   font-weight: 600;
   font-size: 20px;
  }
  
  .texto-presentacion{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
    text-align: justify;
    max-width: 320px;
  }

.social-links {
    display: flex;
    font-weight: 500;
    padding-bottom: 10px;
}

.social-links a {
    text-decoration: none; /* Quitar subrayado */
    color: #333; /* Color del texto */
    position: relative; /* Establecer posición relativa */
    font-size: 15px;
    justify-content: space-between;
    margin-right: 3px;
}

.social-links a::after {
    content: "\2197"; 
}

.social-links a:hover {
    color: #007bff; /* Color al pasar el ratón */
}

  /* Estilos para la descripción */
  .descripcion-Marlon {
    background-color: #ccebff; /* Fondo azul claro */
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px; /* Espacio inferior */
  }

  .titulo-sobreMi {
    text-align: center; /* Centra el título */
    margin-bottom: 20px; /* Espaciado inferior */
    font-weight: 700;
    font-size: 20px;
  }

/* titulos skills, hobbies, formación y experiencia*/
.skills-titulo,.hobbies-titulo, .formacion-titulo, .experiencia-titulo{
  font-weight: 700;
  padding-bottom: 15px;
  font-size: 20px;
  padding-top: 10px;
}

.fila-skills {
    display: flex;
    flex-wrap: wrap;
  }

  .skills-dev {
    width: calc(100% / 3); /* Para distribuir las imágenes en tres columnas */
    box-sizing: border-box; /* Para incluir el padding y el borde en el ancho */
    padding: 0 10px; /* Espacio entre las imágenes */
    text-align: center;
    background-color: #f0f0f0; /* Fondo gris claro */
    border-radius: 10px; /* Bordes redondeados */
    margin-bottom: 20px; /* Espacio entre las filas */
    margin-top: 15px;
  }

  .skills-dev img {
    width: 100%; /* Para que las imágenes ocupen todo el ancho del contenedor */
    border-radius: 10px 10px 0 0; /* Bordes redondeados solo arriba */
  }

  .skills-dev span {
    display: block; /* Para colocar las frases debajo de cada imagen */
    margin-top: 10px; /* Espacio entre la imagen y la frase */
    padding: 10px; /* Espacio interno para la frase */
    border-top: 1px solid #ccc; /* Borde superior para separar la imagen de la frase */
    border-radius: 0 0 10px 10px; /* Bordes redondeados solo abajo */
    background-color: #fff; /* Fondo blanco para la frase */
  }
  
  
.fila-hobbies {
    display: flex;
    flex-wrap: wrap;
  }

  .hobbies {
    width: calc(100% / 3); /* Para distribuir las imágenes en tres columnas */
    box-sizing: border-box; /* Para incluir el padding y el borde en el ancho */
    padding: 0 10px; /* Espacio entre las imágenes */
    text-align: center;
    background-color: #f0f0f0; /* Fondo gris claro */
    border-radius: 10px; /* Bordes redondeados */
    margin-bottom: 20px; /* Espacio entre las filas */
  }

  .hobbies img {
    width: 100%; /* Para que las imágenes ocupen todo el ancho del contenedor */
    border-radius: 10px 10px 0 0; /* Bordes redondeados solo arriba */
  }

  .hobbies span {
    display: block; /* Para colocar las frases debajo de cada imagen */
    margin-top: 10px; /* Espacio entre la imagen y la frase */
    padding: 10px; /* Espacio interno para la frase */
    border-top: 1px solid #ccc; /* Borde superior para separar la imagen de la frase */
    border-radius: 0 0 10px 10px; /* Bordes redondeados solo abajo */
    background-color: #fff; /* Fondo blanco para la frase */
    font-weight: bold;
  }



.container-experiencia{
  margin-bottom: 20px;
}
.formacion {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra los elementos verticalmente */
  margin-bottom: 20px; /* Espacio entre cada elemento */
  border: 2px solid #b3d7ff; /* Borde azul claro */
  border-radius: 10px; /* Bordes redondeados */
  padding: 20px; /* Espacio interno */
}

.formacion img {
  width: 150px; /* Tamaño de la imagen */
  border-radius: 50%; /* Bordes redondeados */
}

.formacion em {
  margin-top: 10px; /* Espacio entre la imagen y el título */
}

.formacion span {
  font-style: italic; /* Texto en cursiva */
}
.links-a{
  text-decoration: none;
  display: inline-block;
  padding: 0px;
  border: none;
  background: none;
    
  }

.card {
  border: 1px solid #007bff; /* Borde azul */
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
  padding: 20px;
  max-width: 100%;
  margin: 0 auto;
  background-color: #f9f9f9;
  margin-left: 1%;
  margin-right: 1%;
}
.card h2 {
  color: #007bff; /* Color del texto */
  text-align: center;
  padding-bottom: 5px;
  font-size: 20px;
  font-weight: 700;
}

.card p{
text-align: center;
padding-bottom: 5px;
font-size: 14px;
}
.card label, .card button {
  display: block;
  padding-top: 10px;
  font-weight: 700;
  color:#007bff;
}
.card input[type="text"],
.card input[type="email"],
.card textarea {
  width: calc(50% - 10px);
  margin-right: 10px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}


.card button, .boton-input {

  background-color: #007bff; /* Color de fondo del botón */
  color: #fff; /* Color del texto del botón */
  font-weight: bold;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

.card button:hover {
  background-color: #0056b3; /* Cambio de color al pasar el mouse */
}

.footer{
  text-align: center;
  background-color: #fff;
  padding-top: 15px;
  padding-bottom: 15px;
}

}