@import url(reset.css);
@import url(desktop.css);
@import url(tablet.css);
@import url(movil.css);

/*estilos generales*/
body {
    font-family: 'Source Sans Pro', sans-serif;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
}

p, a, li, div{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}









