@import url(reset.css);
@import url(desktop.css);
@import url(tablet.css);
@import url(movil.css);

/*estilos generales*/
body {
    font-family: 'Montserrat', sans-serif;
}

.hobbies span, .skills-dev b{
    font-weight: bold;
    font-size: 25px;
}










